.header{
    background-color: #1F2937;
    color: #f9faf8;

}

.left{
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: flex-start;
}

.right{
        display: flex;
    margin: auto;
    padding: auto;
    justify-content: flex-end;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.flex1{
    color: #f9faf8;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}