.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

/* left and right here are for headers*/
.left{
    font-size: 24px;
    display: flex;
    margin-right: auto;
    padding-left: 1%;

}

.right{
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 0%;
 
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 10%;
    
}

.webDescription{

}

.quoteBody{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
}

.flex1{
    color: #f9faf8;
}

.flex2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;

}

.flex3{
    font-style: light italic;
    font-size: 24px;
    color: #1F2937;
}

.flex4{

}

.buttonFlex
{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #f9faf8;
    margin-top: 1%;
    padding: 5%;
}