.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.left{
    font-size: 24px;
    display: flex;
    margin-right: auto;

}

.right{
    display: flex;
    margin-left: 1%;
    justify-content: space-between;
}

.body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.flex1{
    color: #f9faf8;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}